  <div class="card-content">
    <div class="card-img">
      <img src={{destino.imagenUrl}} alt="">
      <span><h4>{{position}}</h4></span>
    </div>

    <div class="card-desc">
      <h3>{{destino.nombre}}
        <span *ngIf=destino.isSelected()>
          <span class="badge badge-secondary">Preferido</span>
        </span>
      </h3>
      <p>Servicios</p>
      <ul>
        <li *ngFor="let s of destino.servicios">
          <span  [ngSwitch]="s">
            <i *ngSwitchCase="'desayuno'" style="color: red;">{{s}}</i>
            <i *ngSwitchDefault>{{s}}</i>
        </span>
        </li>
      </ul>
      <a href="#" class="btn-card" (click) = "ir()">Ir!</a>
      <a [routerLink]="['/destino', destino.id]">Ver Detalle</a>

      <!--<span ngNonBindable>{{Funca?}}</span>-->
      <!--<span [style.display]="destino.isSelected() ? '':'none'">- PREFERIDO -</span>-->
    </div>
  </div>
