
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Wishlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/home']"  routerLinkActive="router-link-active">Home</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/favoritos']">Favoritos</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/destino']">Destino</a></li>
    </ul>
  </div>
</nav>

<div class="page-header">
   <div class="jumbotron">
        <h1>
          {{ title.split("-")[1] }}
        </h1>
        <hr class="my-4">
        <p class="lead">El viaje de tus sueños</p>
    </div>
</div>

<!--
<div class="container-fluid">
  <div class="row">
      <div class="container-lg">
            <app-lista-destinos></app-lista-destinos>
      </div>
  </div>
</div>
-->
<router-outlet></router-outlet>

<hr class="mn-5">
Fecha: {{ time | async }}