<div class="container  justify-content-center d-flex flex-wra">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lugares Favortitos</h3>
        </div>
        <div class="card-body">
            <ul>
                <app-lugar *ngFor="let f of favoritos" [nombre]="f"></app-lugar>
            </ul>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 1 week ago</small>
        </div>
    </div>
</div>

